body
{

  width:100%;
  height: 100%;
  font-family: "Segoe UI light";
  overflow-x: hidden;
}

/* main stellt das zentrale Element da*/
#main
{
  background-color: white;
  position: absolute;
  left:0px;
  top:31%;
  bottom:20%;
  width:80%;
  height:100%;
}

#main_head
{
  position: relative;
  width:100%;
  height:30%;
}

#main_head_titel
{
  position: relative;
  width: 100%;
  height: 33%;
  text-align: center;
}

label.titel
{
  font-size:2.5vw;
  position: relative;
  top:20%;
}

#main_head_buttoninput
{
  position: relative;
  width: 100%;
  height: 67%;
}

#main_head_buttoninput_button
{
  position:relative;
  width:100%;
  height:50%;
}

button.head
{
  position: relative;
  width:100%;
  height: 50%;
  font-size: 1vw;
  border: 1px 1px 1px 1px;
}

button.headsubmit
{
  position: relative;
  width:15%;
  height: 100%;
  font-size: 1vw;
  border: 1px 1px 1px 1px;
}

.align
{
    width:15%;
    margin-left:2%;
    margin-right: 2%;
    position: relative;
    left:22%;
    top:20%;
}

.float
{
  float:left;
}

#main_head_buttoninput_button_create
{

}

#main_head_buttoninput_button_modify
{

}

#main_head_buttoninput_button_remove
{

}

#main_head_buttoninput_input
{
  width:100%;
  height:50%;
  background-color: green;
}

#main_head_buttoninput_input_btnAlter
{
  position: relative;
  width:100%;
  height: 100%;
}

#input1
{
  width: 100%;
  height:33%;
}

#input2
{
  width: 100%;
  height:33%;
}

#input3
{
  width: 100%;
  height:33%;
}

.verticallist
{
  display:block;
}

div.inline
{
  float:left;
}

#main_head_buttoninput_input_label_folder
{
  position: relative;
  width:15%;
  height: 100%;
  left: 24%;
  text-align: center;

}

#main_head_buttoninput_input_label_folder_txt
{
  font-size: 1vw;
  position: relative;
  text-align: center;
  width: 100%;
  top:25%;
}

#main_head_buttoninput_input_folder
{
  position: relative;
  width:34%;
  height: 100%;
  left:28%;
}

#main_head_buttoninput_input_folder_textfield
{
  width:100%;
  height: 100%;
  font-size: 2vw;
}

#main_head_buttoninput_input_label_date
{
  position: relative;
  width:15%;
  height: 100%;
  left: 24%;
  text-align: center;

}

#main_head_buttoninput_input_label_date_txt
{
  font-size: 1vw;
  position: relative;
  text-align: center;
  width: 100%;
  top:25%;
}

#main_head_buttoninput_input_date
{
  position: relative;
  width:34%;
  height: 100%;
  left:28%;
}

#main_head_buttoninput_input_date_textfield
{
  width:100%;
  height: 100%;
  font-size: 2vw;
}


#main_head_buttoninput_input_label_description
{
  position: relative;
  width:15%;
  height: 100%;
  left: 24%;
  text-align: center;

}

#main_head_buttoninput_input_label_description_txt
{
  font-size: 1vw;
  position: relative;
  text-align: center;
  width: 100%;
  top:25%;
}

#main_head_buttoninput_input_description
{
  position: relative;
  width:34%;
  height: 100%;
  left:28%;
}

#main_head_buttoninput_input_description_textfield
{
  width:100%;
  height: 100%;
  font-size: 2vw;
}


#main_workspace
{

}





/*head stellt das Kopfelement da*/
#header
{
  position: absolute;
  top:0px;
  left:0px;
  width:80%;
  height:31%;
  background-color: gray;
}



#txt_head
{
  font-size:5vw;
  color:white;
  position: relative;
  left:35%;
  top:30%;
}


img.logo
{
  width:70%;
  height: auto;
}


img.content_picture
{
  width:20%;
  height: auto;
}

p.head_p
{
  font-size: 3.5vw;
}

/*sidebar stellt das Seitenelement zu rechten Seite der Ansicht da*/

#sidebar
{
  background-color: #800000;
  position: fixed;
  right: 0px;
  top:0px;
  width:20%;
  height: 100%;
}

#sidebar_top
{
  position:absolute;
  top: 2%;
  right:0px;
  height:29%;
  width: 100%;

}

#sidebar_middle
{
  position: absolute;
  width:100%;
  height: 100%;
  top:0%;
  background-color: #800000;
}

#sidebar_logo
{
  position: relative;
  left:15%;
}

#sidebar_middle_center
{
  position: relative;
  width:100%;
  height: 50%;
  top:10%;
}

#sidebar_middle_logo
{
  position: relative;
  top:0px;
  left:30%;
}

#sidebar_middle_txt
{
  position: relative;
  top:0px;
  left:30%;
}

.sidebare_middle_text_link
{
  background-color: #E393A1;
  padding-left: 4%;
}

p.sidebar_middle_txt
{
  font-size: 2vw;
  color:white;
}

.sidebar_a_pages
{
  text-decoration: none;

}

img.app
{
  width:40%;
}
